.chat-main

  .header
    .header__box
      .header__box__group
        = @group.name
      .header__box__member
        Member:
        - @group.users.each do |user|
          = user.name
    .header__edit
      = link_to edit_group_path(@group) do
        Edit

  .messages
    = render @messages
    
  .footer
    = form_for [@group, @message] do |f|
      .footer__box
        = f.text_field :comment, class: 'footer__box__message', placeholder: 'type a message'
        .footer__box__space
          = f.label :image, class: 'footer__box__space__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'footer__box__send'